
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-body pt-5">

    <a class="text-center" > <h2>Erişim Engellendi</h2></a>
    <a class="text-center"> <h5>Bu sayfaya erişim yetkiniz bulunmuyor.</h5></a>
</div>
