<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Altur Studycase</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/TemplasteDocs/images/logo.png" />


    <link href="~/TemplasteDocs/css/style.css" rel="stylesheet">


</head>

<body>
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="nav-header">
            <div class="brand-logo">
                <a>
                    <b class="logo-abbr"><img src="~/TemplasteDocs/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/TemplasteDocs/images/logo.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/TemplasteDocs/images/logo.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Header start
        ***********************************-->
        @await Component.InvokeAsync("Header");
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        @await Component.InvokeAsync("Sidebar");
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            @RenderBody()
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        @await Component.InvokeAsync("Footer");
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <script src="~/TemplasteDocs/plugins/common/common.min.js"></script>
    <script src="~/TemplasteDocs/js/custom.min.js"></script>
    <script src="~/TemplasteDocs/js/settings.js"></script>
    <script src="~/TemplasteDocs/js/gleek.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
